<div class="container" style="margin-top: 25px" ng-init="onInit()"  >
    <div class="col-lg-12" style="font-family: Questrial">
        <div class="col-lg-8 col-lg-offset-2 ">

            <h4 style="font-weight: bold">Add New Fabric</h4>
            <div style="width: 100%; margin-top: 10px; padding: 20px; text-align: center" class="panel panel-default">
                <div class="col-lg-12">
                    <div class="col-lg-4 col-lg-offset-4">
                        <label for="batchName" class="control-label">Name</label>
                        <input type="text" id="batchName" ng-model="batch_name" class="form-control">
                    </div>
                </div>
                <input type="button" class="btn btn-success" value="Create" ng-click="createBatch()" style="margin-top: 15px; width: 150px">
            </div>

            <h4 style="font-weight: bold; ">Lighting</h4>
            <div style="width: 100%; margin-top: 10px; padding: 20px; text-align: center" class="panel panel-default">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <div class="radio">
                                <label><input type="radio" name="optradio" checked>Automatic</label>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="radio">
                                <label><input type="radio" name="optradio" >Manual</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 " style="pointer-events: none ">
                        <label for="redColor" class="control-label d">Red [0-255]</label>
                        <input type="text" id="redColor" ng-model="input_red" class="form-control">
                    </div>
                    <div class="col-lg-4">
                        <label for="greenColor" class="control-label">Green [0-255]</label>
                        <input type="text" id="greenColor" ng-model="input_green" class="form-control">
                    </div>
                    <div class="col-lg-4">
                        <label for="blueColor" class="control-label">Blue [0-255]</label>
                        <input type="text" id="blueColor" ng-model="input_blue" class="form-control">
                    </div>
                </div>
                <input type="button" class="btn btn-default" value="Turn On" ng-click="lightOn()" style="margin-top: 15px; width: 150px">
                <input type="button" class="btn btn-default" value="Turn Off"  ng-click="lightOff()" style="margin-top: 15px; width: 150px">
            </div>

            <h4 style="font-weight: bold; ">Prevously Added</h4>
            <div style="width: 100%; margin-top: 10px; padding: 20px; text-align: center" class="panel panel-default">
                <div class="col-lg-12">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="list-group">
                            <a href="/process" class="list-group-item list-group-item-action"
                               ng-repeat="(key, item) in batch_names"
                               ng-click="openHistory(key)">Batch_{{key}}: {{item.file_name}}</a>
                        </div>
                    </div>
                </div>
                <p style="color: red">[Note: Click on a list to view the results with statistics]</p>
            </div>
        </div>

    </div>
</div>