fabric_system_back_end/node_modules
fabric_system_back_end/.idea
fabric_system_back_end/public/src/assets/images/trash
fabric_system_back_end/public/src/assets/images/upload
server_preprocessor/x64/Debug/opencv_world340d.dll
server_preprocessor/x64/Debug/opencv_world340.dll
defect_capture/env